.mega-menu{width: 500px; overflow: hidden; padding: 11px; background-color:#2A2928;}
.sub-menu-heading{color: yellow; font-family: Roboto; font-weight: lighter;}
p a {color: white;}
a:hover{text-decoration: none;}